.menu {
  text-align: center;
  background-color: #C1C00D;
}
hr {
  width: 250px;
  border-color: #126EAA;
  border-width: 4px;
}
a, a:hover, a:focus {
  text-decoration: none;
  text-underline: none;
}
