<div class="container-fluid main-container">
  <div class="header-bg">
    <div class="header">
      <h2>Welcome to</h2>
      <h1>Angular Chopstick</h1>
      <button routerLink="/menu" class="viewmenu btn">VIEW MENU</button>
    </div>
  </div>


  <div class="section-two">
    <div class="container">
      <div class="col-md-5 col-sm-6 col-sm-offset-0 col-md-offset-1">
    <h1>Our Story</h1>
        <p (focus)="focusedText($event)">Denc non elit libero. Quisque massa porta ut placerat lentesque non diam. Nam convallis porta rhoncus. Maecenas varius eget turpis suscipit porta sapien tinc Mauris tempor libero fringilla orci vivrra faucibue fringilla orci vivrra faucibus. Integer ullamcorper erat in tellus efficitur, quis porta sapien tincidunt. Nunc mattis lectus sed semper semper.

          Quisque sit amet turpis et ipsum elementum facilisis. Quisque sed placerat libero. Pellentesque nec tellus sollicitudin, sollicitudin ligula non, tristique nibh Donec vitae turpis sagittis, cursus nunc ac, aliquet nunc. Donec viverra vel massa at posuere. Aliquam et fringilla augue consequat posuere sem, eu ornares viverra veleso massa at posuere. Aliquam et fringilla augue</p>
      </div>
      <!--<div class="col-md-offset-1 col-sm-6 col-sm-offset-0 col-md-4 hidden-xs">-->
        <!--<img src="../../assets/sushivector.png" alt="Sushi ">-->
      <!--</div>-->
    </div>
  </div>

  <div class="section-three">
    <div class="container">
      <div class="col-md-5 col-sm-6 col-sm-offset-0 col-md-offset-1">
        <h1>Our Story</h1>
        <p (focus)="focusedText($event)">Denc non elit libero. Quisque massa porta ut placerat lentesque non diam. Nam convallis porta rhoncus. Maecenas varius eget turpis suscipit porta sapien tinc Mauris tempor libero fringilla orci vivrra faucibue fringilla orci vivrra faucibus. Integer ullamcorper erat in tellus efficitur, quis porta sapien tincidunt. Nunc mattis lectus sed semper semper.

          Quisque sit amet turpis et ipsum elementum facilisis. Quisque sed placerat libero. Pellentesque nec tellus sollicitudin, sollicitudin ligula non, tristique nibh Donec vitae turpis sagittis, cursus nunc ac, aliquet nunc. Donec viverra vel massa at posuere. Aliquam et fringilla augue consequat posuere sem, eu ornares viverra veleso massa at posuere. Aliquam et fringilla augue</p>
      </div>
      <div class="col-md-offset-1 col-sm-5 col-sm-offset-1 col-md-4">
        <div class="hours-div">
      <!--<img src="../../assets/sushivector.png" alt="Sushi ">-->
        <h3><span>STORE HOURS
        </span></h3>
          <hr>
          <p>Text Here?</p>
          <div class="hour-box">
            <div class="hours"><span class="bold">Monday</span> <span>Closed</span></div>
          <hr>
           <div class="hours"><span class="bold">Tuesday</span> <span>Closed</span></div>
          <hr>
            <div class="hours"><span class="bold">Wednesday</span> <span>9:30 - 10:30</span></div>
          <hr>
           <div class="hours"><span class="bold">Thursday</span> <span>9:30 - 10:30</span></div>
            <hr>
            <div class="hours"><span class="bold">Friday</span> <span>9:30 - 10:30</span></div>
            <hr>
            <div class="hours"><span class="bold">Saturday</span> <span>9:30 - 10:30</span></div>
            <hr>
            <div class="hours"><span class="bold">Sunday</span> <span>9:30 - 10:30</span></div>
          </div>

      </div>
      </div>
    </div>
  </div>


</div>

