.header-bg {
  background: url('../../assets/sushi.png');
  background-size: cover;
  position: relative;
  padding-top: 0;
  padding-bottom: 160px;
  height: 90%;
  width:100%;
  top: 0;
  box-shadow: inset 0px -8px 7px 0px rgba(0, 0, 0, 1);
}
.main-container {
  margin: 0;
  padding: 0;
  margin-top: -95px;
  background: #000;

}
.header-bg::after {
  background: #000 url('../../assets/pattarn.png') repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.header {
  text-align: center;
  padding-top: 200px;
}
.header h1 {
  font-family: 'Rock Salt';
  color: white;
  font-size: 50px;
}
.header h2 {
  font-family: 'PT Sans Narrow';
  color: white;
  font-size: 40px;
}
.section-two {
  background: black;
}
.section-two h1 {
  font-family: 'Rock Salt';
  color: #ca3d26;
  font-size: 50px;
  margin-bottom: 20px;
}
.section-two p {
  color: #fff;
  padding-bottom: 30px;
}
.viewmenu {
border-radius: unset;
  border: 1px solid white;
  color: white;
  background-color: #ca3d26;
  font-family: "PT Sans Narrow";
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 20px;
  padding: 8px 26px;
}

.section-two img {
  width: 100%;
}
.section-three {
  background: #333333;
  color: white;
  padding-bottom: 60px;
}
.hours-div {
  text-align: center;
}
.hours-div h3:after {
  content: '';
  top: 100%;
  left: 0;
  margin-top: -1px;
  width: 100%;
  height: 2px;
  z-index: 0;
  background-color: rgba(225,215,215,0.1);
}
.hours {
  display: flex;
  justify-content: space-between;
  color: rgba(225,215,215,0.6);
  font-size: 14px;
  padding: 5px 0;
}
.hours-div hr {
  margin: 0;
  border-color: rgba(225,215,215,0.2);
}
.hour-box {
  margin-top: 30px;
}
.hours-div p {
  padding: 15px 0 10px;
}
