.container-fluid {
  margin: 0;
  padding: 0;
}
.header {
  background: url('../../assets/test.jpg') center;
  background-size: cover;
  margin: 0;
  height: 100vh;
  padding: 120px 30px 480px;
  text-align: center;
}
.header h1 {
  font-size: 120px;
}
.call-to-action {
  background-color: #126EAA;
  padding: 15px 15px 20px;
  border-radius: 60px;
  width: 30%;
  margin-left: 35%;
}
h3 {
  font-size: 25px;
}
.header a, a:hover, a {
  cursor: pointer;
  text-underline-color: #C1C00D !important;
}
